In [2]:
import pandas as pd

# Working with `pd.Series`

In [3]:
# strings
fruits = pd.Series(["apples", "oranges", "bananas", "cherries"])

In [4]:
fruits

0      apples
1     oranges
2     bananas
3    cherries
dtype: object

In [5]:
for fruit in fruits:
    print(fruit)

apples
oranges
bananas
cherries

## Getting & setting

In [6]:
fruits[2]

'bananas'

In [7]:
fruits[2] = 'kiwi'

In [8]:
fruits

0      apples
1     oranges
2        kiwi
3    cherries
dtype: object

## `pd.Series` constructor
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [9]:
# floats
temperature = pd.Series([32.6, 34.1, 28.0, 35.9], index = ["a","b","c","d"], name="temperatures of fruit")

In [10]:
temperature

a    32.6
b    34.1
c    28.0
d    35.9
Name: temperatures of fruit, dtype: float64

## Getting & setting

In [11]:
temperature[2]

28.0

In [13]:
temperature['c']

28.0

# Working with `pd.DataFrame`

In [14]:
temperature.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
fruits.index

RangeIndex(start=0, stop=4, step=1)

## Changing an index

In [16]:
fruits.index = temperature.index

In [17]:
temperature.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
fruits.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## Creating a DataFrame from multiple Series

In [19]:
data = {
    'fruit': fruits,
    'temps': temperature,
}

df = pd.DataFrame(data, index=fruits.index)

In [20]:
df

      fruit  temps
a    apples   32.6
b   oranges   34.1
c      kiwi   28.0
d  cherries   35.9

### Renaming columns in a DataFrame

In [23]:
list(df.columns)

['fruit', 'temps']

In [24]:
df.columns = [x.upper() for x in df.columns]

In [25]:
df

      FRUIT  TEMPS
a    apples   32.6
b   oranges   34.1
c      kiwi   28.0
d  cherries   35.9

## Converting DataFrames

In [29]:
# convert DataFrame into Series
df['FRUIT']

a      apples
b     oranges
c        kiwi
d    cherries
Name: FRUIT, dtype: object

In [32]:
# make new DataFrame (subset) of another DataFrame
columns = ['FRUIT']

#df[columns]
df[['TEMPS']]

   TEMPS
a   32.6
b   34.1
c   28.0
d   35.9

## Filtering DataFrames
https://chrisalbon.com/code/python/data_wrangling/filter_dataframes/

In [33]:
df

      FRUIT  TEMPS
a    apples   32.6
b   oranges   34.1
c      kiwi   28.0
d  cherries   35.9

In [34]:
df['TEMPS'] < 30

a    False
b    False
c     True
d    False
Name: TEMPS, dtype: bool

In [36]:
temps_under_30 = df['TEMPS'] < 30

In [37]:
df[ temps_under_30  ]

  FRUIT  TEMPS
c  kiwi   28.0